@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e7e7d3;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

svg {
  display: block;
  width: 100%;
}

.title {
  padding: 1em;
}

.flower {
  transform: rotate(0);
  transform-origin: 210px 112px;
  transition: all 2s linear;
}

.title:hover .flower {
  transform: rotate(360deg);
}

h2 {
  color: #607332;
  padding-top: 3em;
}

.growth-one svg {
  width: 1.5em;
  margin: 0 auto;
  display: block;
  transform: scale(1);
  transition: all 2s linear;
}

.growth-one:hover svg {
  transform: scale(1.5);
}

.growth-one p {
  text-align: center;
}

.growth-two svg {
  width: 2em;
  margin: 0 auto;
  display: block;
  transform: scale(1);
  transition: all 2s linear;
}

.growth-two:hover svg {
  transform: scale(1.5);
}

.growth-two p {
  text-align: center;
}

.growth-three svg {
  width: 3em;
  margin: 0 auto;
  display: block;
  transform: scale(1);
  transition: all 2s linear;
}

.growth-three:hover svg {
  transform: scale(1.5);
}

.growth-three p {
  text-align: center;
}

.growth-four svg {
  width: 3em;
  margin: 0 auto;
  display: block;
  transform: scale(1);
  transition: all 2s linear;
}

.growth-four:hover svg {
  transform: scale(1.5);
}

.growth-four p {
  text-align: center;
}

.growth-five svg {
  width: 4em;
  margin: 0 auto;
  display: block;
  transform: scale(1);
  transition: all 2s linear;
}

.growth-five:hover svg {
  transform: scale(1.5);
}

.growth-five p {
  text-align: center;
}

.fruit-ani {
  width: 4em;
  margin: 0 auto;
  display: block;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-svg-animate {
  opacity: 1;
  animation: svg-jiggle 250ms linear;
}

@keyframes svg-jiggle {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(15deg);
  }

  66% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.fruit p {
  text-align: center;
}

.green {
  color: #a8bf50;
}

.chart svg {
  margin: 0 auto;
}

.chart-ani {
  margin: 0 auto;
  display: block;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-svg-animate-2 {
  opacity: 1;
}

h1 {
  margin: 0;
}

svg text {
  opacity: 0;
}
